[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
wikipedia = "*"
langchain-community = "*"
langchain-google-genai = "*"
langchain-anthropic = "*"
python-dotenv = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.11"
